### Import the required libraries

In [2]:
import pandas as pd
import os
import glob

### Task #1: Merge sales data for 12 months into one csv file

In [7]:
#We use glob to match the extension 'csv'
extension='csv'
all_sales_data_filenames= [i for i in glob.glob('Sales_Data/*{}'.format(extension))]
#print(all_sales_data_filenames)

In [9]:
#Combine all the files in a list 
all_sales_data=pd.concat([pd.read_csv(f) for f in all_sales_data_filenames])
#Export the combined data to csv
all_sales_data.to_csv("all_sales_data",index=False, encoding='utf-8-sig')

### Read the updated dataframe

In [11]:
sales_data=pd.read_csv('all_sales_data')

In [12]:
sales_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001"
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"511 8th St, Austin, TX 73301"
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"151 Johnson St, Los Angeles, CA 90001"
3,248154,27in FHD Monitor,1,149.99,09/27/19 07:52,"355 Hickory St, Seattle, WA 98101"
4,248155,USB-C Charging Cable,1,11.95,09/01/19 19:03,"125 5th St, Atlanta, GA 30301"

### Task #2: Cleaning the data

#### Check for NaN/Missing values

In [38]:
#Check if there ar any missing values in the dataframe
sales_data.isna().any().any()

True

We function has returned a boolean value of true, meaning there are columns with missing data in th dataset. Th next task is to see the count of the missing values

In [ ]:
#Count the total number of missing values in the the dataset
sales_data.isna()